/* COLOUR DICTIONARY 

Container Title: #012661
Container Sub-Title: #2d2d2d

Input Label: #575757
Input Box: #dbdbdb

Icon Background: #e2e5e9

Hyperlink-Hover: #0061fe

Blue Button-Box: #003d7c
Blue Button-Hover: #0061fe

Green Button-Box: #04aa6dea
Green Button-Hover: #00d390

Orange Button-Box: #D27D2D
Orange Button-Hover: #F28C28

Red: #D2042D

*/


/* GLOBAL CLASSES */
* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	margin: 0px
}

input {
	font-family: "Inter", sans-serif;
}

textarea {
	font-family: "Inter", sans-serif;
	white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 100px;
    line-height: 1.5;
	resize: vertical;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(249 250 251);
	transition: opacity 5s, visibility 0.75s;
}

.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #dddddd;
	border-top-color: #003d7c;
	border-bottom-color: #D27D2D;
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from  {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}


/* GLOBAL HEADER (H) */
.header {
	display: grid;
	grid-template-areas: 
		"logo nav options";
	grid-template-columns: 1fr 1fr 1fr;
	background-color: white;
	border-bottom: solid gainsboro 1.5px;
	height: 104px;
	padding: 25px;
}

/* H1. Header Grid Areas */
.logo-area-header {
	grid-area: logo;
}

.nav-area-header {
	grid-area: nav;
}

.options-area-header {
	grid-area: options;
}

/* H2. Logo Related */
.image-logo {
	width: 155px;
}


/* H3. Nav Related */
.nav-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* H3a. Nav Icons */
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	color: #565656;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.current-page-icon {
	font-size: 32px;
	color: #0061fe;
	font-variation-settings:
		'FILL' 1,
		'wght' 280,
		'GRAD' 0,
		'opsz' 24;
	border-bottom: 3px solid #0061fe;
	padding: 15px 30px;
}

.icons {
	font-size: 32px;
	font-variation-settings:
		'FILL' 0,
		'wght' 280,
		'GRAD' 0,
		'opsz' 24;
	padding: 15px 30px;
}

.icons:hover {
	background-color: #f0f2f5;
	border-radius: 10px;
}

/* H3b. Nav Tooltips */
.tooltip {
	position: relative;
}

.tooltip .tooltip-text {
	font-size: 12px;
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 16px;
	padding: 8px 10px;

	position: absolute;
	z-index: 1;
	visibility: hidden;
	top: 82px;

	transition-delay: 0.4s;
	transition-timing-function: cubic-bezier(.08, .52, .52, 1);
}

.home-spacing {
	left: 20.5px;
}

.group-spacing {
	left: 15.5px;
}

.profile-spacing {
	left: 18.5px;
}

.tooltip:hover .tooltip-text {
  	visibility: visible;
}

/* H4. Option Related */
.options-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* H4a. Option Dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-container {
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 5px;
	width: 150px;
	padding: 4px;
	z-index: 1;
	right: 0%;
}

.dropdown:hover .dropdown-container {
  	display: block;
	visibility: visible;
}

.dropdown-button {
	display: flex;
	justify-content: left;
	align-items: center;
	font-family: "Inter", sans-serif;
	background-color: white;
	border: none;
	width: 100%;
	padding: 4px;
}

.dropdown-button:hover {
	background-color: #f0f2f5;
	border-radius: 5px;
}

.dropdown-icon {
	font-size: 24px;
	background-color: #e2e5e9;
	border-radius: 20px;
	padding: 7px;
	margin-right: 12px;
}


/* GLOBAL MAIN (M) */
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(249 250 251);
	min-height: 80vh;
	margin: 0px;
	padding: 50px
}

.box-shadow {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1);
}

.solid-line {
	border: solid #e2e5e9 0.99px;
	width: 100%;
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	width: 35lh;
}

/* M1. Content-Header */
.content-header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.user-group {
	display: flex;
	text-decoration: none;
	width: 100%;
}

.avatar-container {
	display: flex;
	align-items: center;
}

.userinfo-container {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 5px;
}

.username-text {
	font-size: 14px;
	color: #000000;
	margin: 0px;
}

.email-text {
	font-size: 12px;
	color: #575757;
	margin: 0px;
}

.avatar-icons {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	margin: 5px;
}

/* M2. Content-Body */
.content-body {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text-container {
	display: block;
}

/* M2a. Container Texts */
.container-title {
	font-size: 32px;
	text-align: center;
	color: #012661;
	margin: 0px;
	white-space: pre-wrap; /* Preserves line breaks and spaces */
    word-wrap: break-word; /* Breaks long words if needed */
    overflow-wrap: break-word; /* Alternative to word-wrap */
    line-height: 1.5; /* Add some spacing between lines */
}

.container-title-left {
	font-size: 32px;
	color: #012661;
	margin: 0px;
	white-space: pre-wrap; /* Preserves line breaks and spaces */
    word-wrap: break-word; /* Breaks long words if needed */
    overflow-wrap: break-word; /* Alternative to word-wrap */
    line-height: 1.5; /* Add some spacing between lines */
}

.container-sub-title {
	font-size: 15px;
	color: #2d2d2d;
	text-align: center;
	margin: 0px;
	padding-bottom: 30px;
}

.container-text {
	text-align: center;
	font-size: 14px;
}

/* M2b. Content Texts */
.content-subtitle {
	font-size: 20px;
	margin: 0px;
}

.content-text {
	font-size: 14px;
	line-height: 1.5;
	white-space: pre-wrap; /* preserves line breaks & spaces */
    word-wrap: break-word; /* breaks long words if needed */
    overflow-wrap: break-word; /* alternative to word-wrap */
    margin-bottom: 1em; /* adds space between paragraphs */
}

.content-taglist {
	display: flex;
}


/* M3. Search Box */
.search-box {
    background: none;
    border: solid #dbdbdb 2px;
    border-radius: 20px;
	width: 80%;
	padding: 10px;
	margin: 10px;
}

.search-box:hover {
	border-color: #0061fe;
}

.search-box:focus {
	outline: none;
	border-color: #003d7c;
}

/* M4. Input Box */
input::-webkit-input-placeholder {
	position: relative;
	font-family: 'Material Symbols Outlined';
	font-size: 26px;
	top: 8px;
}

.input-group {
    display: inline-block;
    position: relative;
	width: 100%;
    margin: 10px;
}

.input-label {
    font-size: 12px;
	color: #575757;
    position: absolute;
	background-color: white;
    left: 20px;
    top: -7px;
    padding: 0 6px;
}

.input-box {
    background: none;
    border: solid #dbdbdb 2px;
    border-radius: 5px;
	width: 100%;
    padding: 8px;
}

.input-box:hover {
	border-color: #0061fe;
}

.input-box:focus {
	outline: none;
	border-color: #003d7c;
}

/* M5. Buttons */
.button-box {
	display: flex;
	justify-content: center;
	font-family: "Inter", sans-serif;
	color: white;
	background-color: #003d7c;
	border: solid #003d7c 2px;
	border-radius: 5px;
	padding: 8px 18px;
}

.button-box:hover {
	background-color: #0061fe;
	border: solid #0061fe 2px;
}

.button-box-green {
	display: flex;
	justify-content: center;
	font-family: "Inter", sans-serif;
	color: white;
	background-color: #04aa6dea;
	border: solid #04aa6dea 2px;
	border-radius: 5px;
	padding: 8px 18px;
}

.button-box-green:hover {
	background-color: #00d390;
	border: solid #00d390 2px;
}

.button-box-orange {
	display: flex;
	justify-content: center;
	font-family: "Inter", sans-serif;
	color: white;
	background-color: #D27D2D;
	border: solid #D27D2D 2px;
	border-radius: 5px;
	padding: 8px 18px;
}

.button-box-orange:hover {
	background-color: #F28C28;
	border: solid #F28C28 2px;
}

.round-button-box {
	display: flex;
	justify-content: center;
	font-family: "Inter", sans-serif;
	color: white;
	background-color: #003d7c;
	border: solid #003d7c 2px;
	border-radius: 20px;
	padding: 8px 14px;
}

.round-button-box:hover {
	background-color: #0061fe;
	border: solid #0061fe 2px;
}

.button-icon {
	font-size: 16px;
	color: white;
	font-variation-settings:
		'FILL' 1,
		'wght' 280,
		'GRAD' 0,
		'opsz' 24;
	padding-right: 6px;
}

/* M6. Hyperlinks */
.hyperlink {
	font-weight: bold;
	text-decoration: none;
	color: #012661;
}

.hyperlink:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #0061fe;
}


/* GLOBAL POP UP MODAL (P) */
.modal {
	background-color: rgb(0, 0, 0, 0.5);
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal.open {
	opacity: 1;
	z-index: 999;
}

.modal-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	width: 35lh;
}

/* P1. Modal Header */
.modal-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "modal-title modal-exit";
	border-bottom: solid gainsboro 1.5px;
	width: 100%;
	padding: 10px;
}

.modal-title-area {
	grid-area: modal-title;
}

.modal-exit-area {
	grid-area: modal-exit;
}

.modal-title-container {
	display: flex;
	align-items: center;
	padding: 10px;
}

.modal-title {
	font-size: 24px;
	color: #012661;
	margin: 0px;
}

.modal-exit {
	display: flex;
	align-items: center;
	justify-content: end;
}

.modal-icon {
	padding: 8px;	
}

.modal-icon:hover {
	background-color: #f0f2f5;
	border-radius: 20px;
}

/* P2. Modal Body */
.modal-body {
	display: flex;
	flex-direction: column;
	height: 376.5px; /* TO BE MODIFIEDf */
	width: 100%;
	padding: 20px;
	margin: 5px 0px;

	overflow: auto;
}

.modal-subtitle-container {
	margin: 16px 0px;
}

.modal-subtitle {
	margin: 0px;
}

.modal-input-group {
	margin: 10px 0px; 
}

.modal-input-group2 {
	margin: 0px;
}

.modal-input-label {
	font-size: 14px;
	margin: 3px;
}

.modal-input {
    background: none;
    border: solid #000000 1px;
    border-radius: 3px;
	width: 100%;
	height: 33px;
    padding: 8px;
}

.modal-input:hover {
	border-color: #0061fe;
}

.modal-input:focus {
	outline: none;
	border: solid #003d7c 2px;
}

.modal-textarea {
	height: 10vh;
}

/* P3. Modal Footer */
.modal-footer {
	display: flex;
	justify-content: flex-end;
	border-top: solid gainsboro 1.5px;
	width: 100%;
	padding: 10px 20px;
}


/* GLOBAL FOOTER (F) */
.footer {
	background-color: #003d7c;
	padding: 30px;
}

.footer-text {
	font-size: 12px;
	font-weight: normal;
	color: whitesmoke;
	margin: 5px;
}


/* LOGIN, REGISTER & RESET PAGE SPECIFIC */
.login-register-header {
	display: flex;
	background-color: white;
	border-bottom: solid gainsboro 1.5px;
	height: 104px;
	padding: 25px;
}

.login-register-page {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(249 250 251);
	height: 80vh;
	margin: 0px;
	padding: 50px
}

.login-register-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	padding: 50px;
}

.login-button-box {
	font-family: "Inter", sans-serif;
	color: white;
	background-color: #003d7c;
	border: solid #003d7c 2px;
	border-radius: 5px;
	width: 100%;
	margin: 14px;
	padding: 8px;
}

.login-button-box:hover {
	background-color: #0061fe;
	border: solid #0061fe 2px;
}

/* FORUM PAGE SPECIFC */ 

/* PROFILE PAGE SPECIFIC (U) */
.intro-container {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 10px;	
	width: 50lh;
}

/* U1. Intro Section */
.profile-icon {
	width: 110px;
	border-radius: 60px;
}

.intro-username {
	white-space: nowrap;
}

.intro-button-group {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.element-subtitle-container {
	display: flex;
	align-items: center;
}

.element-edit-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* U1a. Profile Modal Pop Up */
.modal-element-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-element-header {
	display: flex;
	align-items: center;
}

.modal-element-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-picture-image {
	height: 150px;
	width: 150px;
	border-radius: 100px;
}

/* U1b. Multi-Select Dropdown */



/* U2. Profile Body */
.profile-body {
	display: flex;
}

.profile-left-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-right-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#displayAboutText:empty {
    display: none; /* Optional: hides completely when empty */
	margin: 0;
}

/* U2a. Profile Containers */
.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 10px;	
}

.profile-container-header {
	display: flex;
	align-items: center;
}

.profile-container-body {
	display: flex;
	flex-direction: column;
}

.element-group-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.element-group-row {
	display: flex;
	align-items: center;
}

.element-group-row-mid {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-element-icon {
	font-size: 22px;
	color: #003d7c;
	font-variation-settings:
		'FILL' 1,
		'wght' 280,
		'GRAD' 0,
		'opsz' 24;
	padding-right: 6px;
}

/* PADDING SPACING */
.pb5 {
	padding-bottom: 5px;
}

.p20-10-0-30 {
	padding: 20px 10px 0px 30px;
}

.p2034 {
	padding: 20px 34px;
}

.p0-34-20-34 {
	padding: 0px 34px 20px 34px;
}

.p3034 {
	padding: 30px 34px;
}


/* MARGIN SPACING */
.m0 {
	margin: 0px;
}

.m0-5 {
	margin: 0px 5px;
}

.ml5 {
	margin-left: 5px;
}

.mr5 {
	margin-right: 5px;
}

.m10 {
	margin: 10px;
}

.m10-0 {
	margin: 10px 0px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.m0-15 {
	margin: 0px 15px;
}

.m15-0 {
	margin: 15px 0px;
}

.mb15 {
	margin-bottom: 15px;
}

.m16-0 {
	margin: 16px 0px;
}

.mb16 {
	margin-bottom: 16px;
}

.m20 {
	margin: 20px;
}

.m20-0 {
	margin: 20px 0px;
}


/* WIDTH SIZING */
.w42pct {
	width: 42%;
}

.w35lh {
	width: 35lh;
}

.w50lh {
	width: 50lh;
}

.w58pct {
	width: 58%;
}

.w100pct {
	width: 100%;
}


/* TEXT CLASSES */
.nowrap {
	white-space: nowrap;
}

/* COLOUR CLASSES */
.red {
	color: #D2042D;
}